.addTask {
  width: 100%;
  height: 3.375rem;
  display: flex;
  gap: .5rem;
  margin-top: -1.5rem;
}

.addTask input {
  flex: 1;
  border-radius: 8px;
  border: 0;
  background: var(--gray-500);
  color: var(--blue-300);
  padding: 1rem;
}

.addTask button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  gap: .25rem;
  color: var(--gray-100);
  background: var(--blue-700);
}

.addTask button:hover {
  background: var(--blue-400);
}